# What to ignore while building Go based cmd container images.
# This helps make the images build a lot faster.
build
infra
examples
function/loader/**
sandboxes
internal/staticanalysis/parsing/js/node_modules
node_modules
web

# Docker builds the static analysis sandbox image in
# the top-level project directory, so needs to copy
# from this subdirectory during the build
!sandboxes/staticanalysis

# Don't ignore any go mod or sum files; go build needs them
# Note: this rule won't work if the parent directory of a
# go.mod or go.sum file is excluded
!**/go.mod
!**/go.sum
