name: 'Deploy with Terraform'

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Setup Environment
      run: echo "GOOGLE_APPLICATION_CREDENTIALS=${GITHUB_WORKSPACE}/credentials.json" >> $GITHUB_ENV;

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.TF_GOOGLE_CREDENTIALS }}
        export_default_credentials: true

    - name: Configure gcloud
      run: gcloud config set project ${{ secrets.GOOGLE_PROJECT_ID }}

    - name: Generate the images for each feed 
      run: |
        cd feeds/pypi;
        gcloud builds submit --tag gcr.io/${{ secrets.GOOGLE_PROJECT_ID }}/feeds-pypi;
        cd ../../;

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    - name: Terraform Format
      run: terraform fmt -check
      working-directory: ./terraform

    - name: Terraform Plan
      run: terraform plan
      working-directory: ./terraform

      # On push to main, build or change infrastructure according to Terraform configuration files
    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform apply -auto-approve
      working-directory: ./terraform

    - name: Deploy to Cloud Run
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: |
        cd feeds/pypi;
        gcloud run deploy \
          pypi-run-srv \
          --platform managed \
          --region us-central1 \
          --image gcr.io/${{ secrets.GOOGLE_PROJECT_ID }}/feeds-pypi;
        cd ../../;
